$def with (projects)

<ul class='thumbnails'>
    $for project in projects:
        $:render.projects.item(post)
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Monitor Stand</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Car RPi</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img data-src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Placeholder</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img data-src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Placeholder</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img data-src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Placeholder</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img data-src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Placeholder</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img data-src='holder.js/200x200/' alt=''></a>
            <h4 class='text-center'>Placeholder</h4>
        </div>
    </li>
<ul>
