$def with (posts)

<table class='table'>
    <tr class='row'>
        <th class='span1'>#</th><th class='span2'>title</th><th class='span3'>body</th><th class='span1'>created</th><th class='span1'>modified</th><th></th>
    </tr>
$for post in posts:
    <tr class='row'>
        <td class='span1'><a href='/_edit/$post.id'>$post.id</a></td>
        <td class='span2'>$post.title</td>
        <td class='span3'>$post.body[0:60]</td>
        <td class='span2'>$post.created</td>
        <td class='span2'>$post.modified</td>
        <td class='span1'><a href='/_delete/$post.id'>del</a></td>
    </tr>
</table>