$def with (item)

<div style='margin-top: 40px;'>
<form method="POST" action="/_edit/$item.id" class='form-horizontal'>
	<div class="control-group">
		<label class='control-label' for="title">Title:</label>
		<div class='controls'>
			<input type="text" name='title' value="$item.title">
		</div>
	</div>
	<div class="control-group">
		<label class='control-label' for="title">Content:</label>
		<div class='controls'>
			<textarea rows="20" name="body" style='width: 500px;'>$item.body</textarea>
		</div>
	</div>
	<div class="control-group">
		<div class='controls'>
		<button type="submit" class="btn">Submit</button>
		</div>
	</div>
	</fieldset>
</form>
</div>