<div class='dashboard'>
    <div class='card'>
        <h3>Users</h3>
        <div class='links'>
            <ul>
                <li><a href="/admin/users">Manage</a></li>
                <li><a href="#">Permissions</a></li>
                <li><a href="/admin/users/create">Create a New User</a></li>
            </ul>
        </div>
    </div>
    <div class='card'>
        <h3>Groups</h3>
        <div class='links'>
            <ul>
                <li><a href="#">Manage</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Permissions</a></li>
            </ul>
        </div>
    </div>
    <div class='card'>
        <h3>Roles</h3>
        <div class='links'>
            <ul>
                <li><a href="#">Manage</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Permissions</a></li>
            </ul>
        </div>
    </div>
    <div class='card'>
        <h3>Privileges</h3>
        <div class='links'>
            <ul>
                <li><a href="#">Listing</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Permissions</a></li>
            </ul>
        </div>
    </div>
    <div class='card'>
        <h3>Posts</h3>
        <div class='links'>
            <ul>
                <li><a href="/posts">Post Listing</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Permissions</a></li>
            </ul>
        </div>
    </div>
</div>