$def with (page, title=None, user=None)
<!DOCTYPE html>
<html>
<head>
	<title>Web.Me\
$if title: : $title\
	</title>
	<link href="../static/main.css" rel='stylesheet' type='text/css' media='screen and (min-device-width: 700px)' />
	<link href="../static/small-screen.css" rel='stylesheet' type='text/css' media='screen and (max-device-width: 480px)' />
	<link href="../static/utils/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<script src="../static/utils/jquery/1.9.1/jquery.min.js" type='text/javascript'></script>
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<div>
	<div class='sidebar'>
		<div class='picture'>
			<a alt="Home" href="/"><img src='../static/me.png'></a>
			<br /><br />
		</div>
		<div class='contact'>
			<address>
				<strong>Your Name</strong><br />
				<abbr title="Phone" class='initialism'>P:</abbr> 204.555.1234<br />
				<a href="mailto:#">youremail@provider.com</a><br />
				123 Fake St<br>
				City, Province<br />
			</address>
		</div>
	</div>
	<div class='content'>
	    <div class='text-right'>
	        <ul class='inline'>
	            $if user:
	                <li><a href='/_new'>new</a></li>
	                <li><a href='/posts'>detail</a></li>
	                <li><a href='/_logout'>logout</a></li>
	            $else:
	                <li><a href='/_login'>login</a></li>
	        </ul>
	    </div>
		$:page
	</div>
	</div>
</body>
</html>