$def with (page, title=None)
<!DOCTYPE html>
<html>
<head>
	<title>Web.Me\
$if title: : $title\
	</title>
	<link href="../static/main.css" rel='stylesheet' type='text/css' />
	<link href="http://osxbase.local/utils/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<script src="http://osxbase.local/utils/jquery/1.9.1/jquery.min.js" type='text/javascript'></script>
</head>
<body>
	<div>
	<div class='sidebar'>
		<div>
			<img src='../static/me.png'>
			<br /><br />
			<address>
				<strong>Your Name</strong><br />
				<abbr title="Phone" class='initialism'>P:</abbr> 204.555.1234<br />
				<a href="mailto:#">youremail@provider.com</a><br />
				123 Fake St<br>
				City, Province<br />
			</address>
		</div>
	</div>
	<div class='content'>
		$:page
	</div>
	</div>
</body>
</html>