<ul class='thumbnails'>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img src='../static/monitorstand.jpg' alt=''></a>
            <h4 class='text-center'>Monitor Stand</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img src='../static/carpi.jpg' alt=''></a>
            <h4 class='text-center'>Car RPi</h4>
        </div>
    </li>
    <li class='span3'>
        <div class='thumbnail'>
            <a href='#' class='thumbnail'><img data-src='holder.js/300x300' alt=''></a>
            <h4 class='text-center'>Car RPi</h4>
        </div>
    </li>
<ul>
