$def with (errors=None)

<div style='margin-top: 40px;'>
<form method="POST" action="/_reg" class='form-horizontal'>
	<div class="control-group">
		<label class='control-label' for="username">Username/Email:</label>
		<div class='controls'>
			<input type="text" name='username' value="">
		</div>
	</div>
	<hr>
	<div class="control-group">
		<label class='control-label' for="first">First Name:</label>
		<div class='controls'>
			<input type="text" name='first' value="">
		</div>
	</div>
	<div class="control-group">
		<label class='control-label' for="last">Last Name:</label>
		<div class='controls'>
			<input type="text" name='last' value="">
		</div>
	</div>
	<hr>
	<div class="control-group">
		<label class='control-label' for="password">Password:</label>
		<div class='controls'>
			<input type="password" name='password' value="">
		</div>
	</div>
	<div class="control-group">
		<label class='control-label' for="confirm">Confrim Password:</label>
		<div class='controls'>
			<input type="password" name='confirm' value="">
		</div>
	</div>
	<div class="control-group">
		<div class='controls'>
		    <a href='/' class='btn'>Cancel</a>
		    <button type="submit" class="btn btn-primary">Register</button>
		</div>
	</div>
	</fieldset>
</form>
</div>