$def with ()

<div style='margin-top: 40px;'>
<form method="POST" action="/_upload" enctype="multipart/form-data" class='form-horizontal'>
	<div class="control-group">
		<label class='control-label' for="alt">Alt-Text:</label>
		<div class='controls'>
			<input type="text" name='alt' value="">
		</div>
	</div>
	<div class="control-group">
		<label class='control-label' for="image">Image:</label>
		<div class='controls'>
			<input type="file" name="image">
		</div>
	</div>
	<div class="control-group">
		<div class='controls'>
		<a href='/' class='btn'>Cancel</a>	
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
	</fieldset>
</form>
</div>